tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
nvim-from-scratch
./nvim-from-scratch

.anish
./anish
.need to copy
.nvim-from-scratch
./.nvim-from-scratch
./nice
.nice
nice 
anish
nvim-from-scratch
need to copy 
anish
ONE FOLDER
./ONE FOLDER 
